<% @posts.each do |post| %>
<article>
  <header>
    <h1><a href="<%= post.link %>"><%= post.title %></a></h1>
  </header>
  <section>
    <%= post.body %>
  </section>
  <footer>
    <%= post.tags_to_html %>
    <div class="comment"><%#= comments_link(post.id, post.link) %></div>
    <time datetime="<%= post.created_at.to_s %>"  pubdate="pubdate"><%= l post.created_at.to_time %></time>
<% if logged_in? %>
    <p><a href="<%= post.edit_link %>"><%= t.edit %></a></p>
<% end %>
  </footer>
</article>
<% end %>

<div class="pagination">
  <ul>
<% if @posts.pager.previous_page %>
    <li class="prev"><a href="?page=<%= @posts.pager.previous_page %>">«</a></li>
<% else %>
    <li class="prev disabled"><a href="#">«</a></li>
<% end %>
<% (1..@posts.pager.total_pages).map do |page| %>
<% if page == @posts.pager.current_page %>
    <li class="active"><a href="?page=<%= page %>"><%= page %></a></li>
<% else %>
    <li><a href="?page=<%= page %>"><%= page %></a></li>
<% end %>
<% end %>
<% if @posts.pager.next_page %>
    <li class="next"><a href="?page=<%= @posts.pager.next_page %>">»</a></li>
<% else %>
    <li class="next disabled"><a href="#">»</a></li>
<% end %>
  </ul>
</div>
