<article>
  <header>
    <h1><a href="<%= @entry.link %>"><%= @entry.title %></a></h1>
  </header>
  <section>
    <%= @entry.body %>
  </section>
  <footer>
    <%= @entry.tags_to_html %>
    <div class="comment"><%= comments_link(@entry.id, @entry.link) %></div>
    <time datetime="<%= @entry.created_at.to_s %>"  pubdate="pubdate"><%= l @entry.created_at.to_time %></time>
<% if logged_in? %>
    <p><a href="<%= @entry.edit_link %>"><%= t.edit %></a></p>
<% end %>
  </footer>
</article>
<%= comment_form %>
